.userForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-self: center;

    padding: 30px 10px 15px;

    border-radius: 15px;
    background: rgb(173, 216, 230, 0.3);
    color: var(--text-color);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.45) 0px 8px 16px -8px;


    width: 35vw;
    margin: 10px;
}

.userForm label{
    display: none;
}

.userForm input{
    border: transparent;
    border-radius: 6px;
    padding: 7px;
    margin: 4px;

    width: 20vw;

    background: var(--input-bg);
    color: var(--text-color);
}

.userForm ::placeholder{
        color: var(--text-color);
}

.userForm button{
    margin: 20px 0 15px 0;
    width: 20vw;
    height: 2.2em;
    padding: 0 1.2em;

    border: transparent;
    background-image: linear-gradient(rgb(255, 208, 0), var(--default-button-color)) ;
    border-radius: 6px;
    
}

.userForm button:hover {
  

  color: white;
  background: var(--primary-bg);
  border: 2px solid white;
  
  filter: drop-shadow(0 0 2em #61dafbaa);
}