.searchForm{
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-color);
}

.searchForm label{
    color: var(--text-color);
}

/* .searchForm input{
    border-radius: 8px 0 0 8px;
    height: 2.2em;

    padding: 0 1.2em;

    border: none;
} */

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  /* width: 300px;
  margin-right: 10px; */
  border-color: var(--text-color);
}

.search-button {
  /* border-radius: 0 8px 8px 0; */
  height: 2.2em;
  padding: 0 1.2em;
  
  cursor: pointer;
  transition: border-color 0.25s;

  background-color: var(--default-button-color);
  border: none;
}


/* trying to figure out autocomplete direction below */
.input-autocomplete .MuiAutocomplete-listbox {
  display: flex !important;
  flex-direction: column !important;
}

/* .input-autocomplete .MuiAutocomplete-listbox li {
  display: block !important
} */