.searchForm{
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-color);
}

.searchForm *{
  color: var(--text-color);
}
.searchForm label{
  color: var(--text-color);
}

/* .searchForm input{
    border-radius: 8px 0 0 8px;
    height: 2.2em;

    padding: 0 1.2em;

    border: none;
} */

.input-autocomplete{
    /* border-radius: 8px 0 0 8px; */
    /* height: 2.2em; */

    /* padding: 0 1.2em; */

    /* border: none; */
    /* color: var(--text-color); */
}

.search-button {
  border-radius: 0 8px 8px 0;
  height: 4.2em;
  padding: 0 1.2em;
  
  cursor: pointer;
  transition: border-color 0.25s;

  background-color: var(--default-button-color);
  border: none;
}

.loading-txt{
  padding-top: 14px;
  justify-self: center
}


