header{
    padding: 0;
    margin: 0;
    min-width: 1280px;
    background: rgb(33, 49, 78);

    margin-bottom: 25px;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

h1 {
  /* font-size: 3.2em;
  line-height: 1.1; */
  color: rgb(219, 213, 184);
}

.navLinks{
    /* padding-bottom: 25px; */

    display: flex;
    /* justify-content: space-evenly; */
    align-self: center;
    gap: 40px;
}

nav a{
    text-decoration: none;
    color: rgb(220, 220, 247);
}


nav a:hover{
    color: rgb(214, 196, 144);
}



