header{
    padding: 0;
    margin: 0;
    min-width: 1280px;
    background: var(--navbar-bg);
    
    margin-bottom: 25px;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.welcomeName{
    font-weight: normal;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    color: var(--navbar-text);
}

h1 {
  /* font-size: 3.2em;
  line-height: 1.1; */
  color: var(--title-color);
}

.navLinks{
    /* padding-bottom: 25px; */

    display: flex;
    /* justify-content: space-evenly; */
    align-self: center;
    gap: 40px;
}

nav a{
    text-decoration: none;
    color: var(--navbar-text);
}


nav a:hover{
    color: rgb(214, 196, 144);
}



