header{
    padding: 0;
    margin: 0;
    min-width: 1280px;
    background: var(--navbar-bg);

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    position: fixed;
    z-index: 1301;
    width: 100%;
    height: 10vh;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: var(--navbar-text);
}

.nav-rightside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-right: 20px;
}

.nav-leftside{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
  /* font-size: 3.2em;
  line-height: 1.1; */
  color: var(--title-color);
  padding: 0 20px;
}

.welcomeName{
    font-weight: normal;
    font-size: 1.2em;
}

.navLinks{

    display: flex;
    /* justify-content: space-evenly; */
    /* align-self: center; */
    gap: 40px;
    padding-right: 40px;
}

nav a{
    text-decoration: none;
    color: var(--navbar-text);
}


nav a:hover{
    color: rgb(214, 196, 144);
}



