*{
  margin: 0;
  padding: 0;
}


/* GRAPH TESTING */


.countyDataContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;

  border: 2px solid white;

  color: var(--text-color);
}

.countyDataSettings {
  align-self: start;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  
  position: sticky;
  top: 0;

  padding: 20px 10px;

}

.countyDataGraphs {
  border: 2px solid white;
  padding: 6px;
}

.mergedChart{
  border-radius: 8px;
  margin: 14px 8px;
  padding: 6px;
  background-color: var(--graph-bg);
  
}

.individualCountyChart {
  border-radius: 8px;
  display: flex; /* due to heart icon */
  
  margin: 14px 8px;
  padding: 6px;
  background-color: var(--graph-bg);
  /* background-image: linear-gradient(to bottom, var(--object-primary-bg-color), var(--object-secondary-bg-color)); */
}

