*{
  margin: 0;
  padding: 0;
}


/* TESTING */


.countyDataContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;

  border: 2px solid white;

  color: var(--text-color);
}

.countyDataSettings {
  align-self: start;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  
  position: sticky;
  top: 0;

  padding: 14px 10px;

}

.countyDataGraphs {
  border: 2px solid white;
  padding: 6px;
}

.individualCountyChart {
  /* border: 2px solid rgb(108, 142, 235); */
  border-radius: 8px;
  display: flex; /* due to heart icon */
  
  margin: 14px 8px;
  padding: 6px;
  background-color: rgba(29, 82, 179, 0.4);
  /* background-image: linear-gradient(to bottom, var(--object-primary-bg-color), var(--object-secondary-bg-color)); */
}

.individualCountyChart .MuiLineElement-root {
  stroke: #00e1ff;
  stroke-width: 3px;
}

.individualCountyChart .MuiLineElement-line {
  stroke: #0000ff; /* Change the axis line color to blue */
  stroke-dasharray: 5, 5; /* Make axis lines dashed */
}

.individualCountyChart .MuiChartsAxis-tickLabel {
  fill: #008000; /* Change axis label color to green */
  font-size: 14px;
  font-weight: bold;
}