*{
  margin: 0;
  padding: 0;
}

.mainScreen {
  padding-top: 10vh;
}

.favoriteBtn {
  align-self: start;
  height: fit-content;
}

.favoriteBtn:hover {
  cursor: pointer;
  /* filter: drop-shadow(0 0 2em #61dafbaa); */
}



/* GRAPH TESTING */


.countyDataContainer {
  display: flex;
  align-items: center;


  /* border: 2px solid rgb(255, 0, 0); */
  /* color: var(--text-color); */
}

.countyDataSettings {
  align-self: start;

  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  
  height: 100vh;
  min-width: fit-content;

  position: sticky;
  top: 0;

  padding: 20px 10px;

  color: var(--text-color);

}

.homeCountyDataGraph{
  padding: 6px;
  align-self: start;
  
  /* border: 2px solid green; */
  width: fit-content;
  margin: 0 auto;
}

.soloCountyHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

.countyDataGraphs {
  /* border: 2px solid white; */
  padding: 6px;

  width: fit-content;
  margin: 0 auto;
}

.mergedChart{
  border-radius: 8px;
  margin: 14px 8px;
  padding: 6px;
  background-color: var(--graph-bg);
  
}

.individualCountyChart {
  border-radius: 8px;
  display: flex; /* due to heart icon */

  
  margin: 14px 8px;
  padding: 6px;
  background-color: var(--graph-bg);
  /* background-image: linear-gradient(to bottom, var(--object-primary-bg-color), var(--object-secondary-bg-color)); */
}

.dataSource{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
  color: var(--text-color);
}
.dataSource a{
  color: var(--text-color);
}

.dataSource a:hover{
  color: var(--accent-color);
}

.compareListNames{
  padding: 20px;
  margin-top: 20px;
  margin-right: auto;
  
  align-self: start;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);

  background-color: var(--graph-bg);
  border-radius: 8px;
}

.compareListNames ul{
  list-style-type: none;
  padding-left: 6px;
}

.compareListNames li{
  margin: 6px 0;
}