*{
  margin: 0;
  padding: 0;

}

.mainDark{
  --primary-color: #1f4daf;
  --secondary-color: #0cb4d1;
  /* --primary-color: #af1fa3;
  --secondary-color: #d10c68; */

  --object-primary-bg-color: rgb(12, 180, 209);
  --object-secondary-bg-color: #0cb4d1;

  --highlight-color: #96d7e8;
  --accent-color: #eba346;

  --primary-bg: #1a226d;
  --secondary-bg: #08073f;
  --navbar-bg: rgb(9, 40, 97);
  --navbar-text: #dcdcf7;

  --title-color: #61e4fc;
  --text-color: #ffffff;
  --neutral-glow: #67bcedaa;

  --graph-bg: rgba(29, 82, 179, 0.4);
  --input-bg: rgba(29, 82, 179, 0.5);

  --default-button-color: rgb(255, 166, 0);
}

.mainLight{
  --primary-color: #f1f5f7;
  --secondary-color: #a5d1ee;

  --object-primary-bg-color: rgb(12, 180, 209);
  --object-secondary-bg-color: #0cb4d1;

  --highlight-color: #ced5db;
  --accent-color: #c3288d;

  --primary-bg: #90c8ec;
  --secondary-bg: #d2e2f0;
  --navbar-bg: rgb(250, 252, 255);
  --navbar-text: #4343a5;

  --title-color: #06bbd3;
  --text-color: #333333;
  --neutral-glow: #a5d4fbaa;

  --graph-bg: rgba(255, 255, 255, 0.4);
  --input-bg: rgba(255, 255, 255, 0.5);

  --default-button-color: rgb(255, 166, 0);
}

#appDiv{
  min-height: 100vh;
  /* background-color: var(--secondary-bg); */
  background-image: linear-gradient(to top, var(--primary-bg), var(--secondary-bg));
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
